html {
    height:  100%; /* temp value */
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100%; /* temp value */
    display: flex;
    justify-content: center;
}

header {
    flex: 1;
}

nav {
    height: 200px; /* temp value */
    display: flex;
    background-color: green;
}

nav > div:first-child {
    margin-right: auto;
    width: 200px; /* temp value */
}