html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
}

header {
    flex: 1;
}

nav {
    display: flex;
    background-color: green;
}

nav > div:first-child {
    margin-right: auto;
}