html {
    height:  100%; /* temp value */
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    height: 100%; /* temp value */
    display: grid;
    grid-template: 200px 1fr / 1fr minmax(240px, 768px) 1fr; /* temp value */
    grid-template-areas: 
        "header header header"
        ". main .";
}

main {
    grid-area: main;
    height: 100%;
    background-color: blue;
}

header {
    grid-area: header;
    display: flex;
}

nav {
    padding: 1rem;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: green;
}

nav > div:first-child {
    width: 100px; /* temp value */
    margin-right: auto;
}